.advantage__list {
  margin: calc(-1 * var(--set-margin-card));

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantage__item {
  margin: var(--set-margin-card);
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: var(--set-margin-card);
    flex-basis: calc((100% - 4 * var(--set-margin-card)) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * var(--set-margin-card)) / 4);
  }
}

.advantage__thumb {
  @include flex-position();
  width: 100%;
  height: 120px;
  background-color: var(--secondary-section-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage__title {
  @include font(700, 14px, 1.14, 0.03em, null);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantage__text {
  @include font(400, 14px, 1.71, 0.03em, var(--secondary-text-color));
}
