.clients__title {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--set-margin-card));
}

.clients__item {
  margin: var(--set-margin-card);
  flex-basis: calc((100% - 4 * var(--set-margin-card)) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * var(--set-margin-card)) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12 * var(--set-margin-card)) / 6);
  }
}

.clients__link {
  @include flex-position();
  height: 90px;
  border: 1px solid var(--main-icon-color);
  border-radius: 4px;
  color: var(--main-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
