.header {
  border-bottom: 1px solid var(--header-border);
}

.container--header {
  display: flex;
}

.navigation {
  display: flex;
  margin-right: auto;
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__header--black {
  color: var(--header-part-logo);
}

.navigation__list {
  display: flex;
}

.navigation__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(500, 14px, 1.14, 0.02em, currentColor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link--current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts-header {
  display: flex;
}

.contacts-header__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.contacts-header__link {
  @include flex-position(flex, null, center);
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(500, 14px, 1.14, 0.02em, var(--secondary-text-color));
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-header__icon {
  margin-right: 10px;
  fill: currentColor;
}
