.team {
  background-color: var(--secondary-section-color);
}

.team__title {
  margin-bottom: 50px;
}

.employees {
  display: flex;
  margin-right: calc(-1 * var(--set-margin-card));
}

.employees__item {
  margin-right: var(--set-margin-card);
  flex-basis: calc(100% / 3 - var(--set-margin-card));
  background-color: var(--main-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees__wrapper {
  padding: 30px 32px;
}

.employees__title {
  @include font(500, 16px, 1.19, 0.03em, null);
  text-align: center;
  margin-bottom: 10px;
}

.employees__text {
  @include font(400, 16px, 1.19, 0.03em, var(--secondary-text-color));
  text-align: center;
  margin-bottom: 16px;
}

.social__link--team {
  color: var(--main-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-page-color);
  }
}
