:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-page-color: #ffffff;
  --first-section-color: #2f303a;
  --secondary-section-color: #f5f4fa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --header-part-logo: #000000;
  --hover-main-btn: #188ce8;
  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --main-icon-color: #afb1b8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --set-margin-card: 30px;
}
